$theme-colors: (
  "primary": #EDEA36,
  "secondary": #ffffff,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #5B5B5B
);

$body-bg-dark: #5B5B5B;
$headings-color: map-get($theme-colors, "primary");

$card-title-color: map-get($theme-colors, "secondary");
$card-subtitle-color: map-get($theme-colors, "secondary");
$card-bg: #4a4a4a;

$font-family-sans-serif: 'Roboto', sans-serif;

$headings-font-family: 'Roboto', sans-serif;
$display-font-sizes: (
  1: 4.5rem,
  2: 4.0rem,
  3: 3.5rem,
  4: 3.0rem,
  5: 2.5rem,
  6: 2.0rem
);

$display-font-weight: 700;

$btn-border-width: 2px;
$btn-border-radius-sm: 5rem;
$btn-border-radius-lg: 5rem;

@import "bootstrap/scss/bootstrap";

.aria-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.my-text {
  color: var(--bs-light);
}